:root {
  --main-brand-color-darker: #bf2b2b;
  --main-brand-color: #d53030;
  --main-brand-color-90: rgba(213, 48, 48, 0.9);
  --main-brand-color-80: rgba(213, 48, 48, 0.8);
  --main-brand-color-70: rgba(213, 48, 48, 0.7);
  --main-brand-color-60: rgba(213, 48, 48, 0.6);
  --main-brand-color-50: rgba(213, 48, 48, 0.5);
  --main-brand-color-40: rgba(213, 48, 48, 0.4);
  --main-brand-color-30: rgba(213, 48, 48, 0.3);
  --main-brand-color-20: rgba(213, 48, 48, 0.2);
  --main-brand-color-10: rgba(213, 48, 48, 0.1);
}
